
body {
      background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
      background-position: left 0px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-color: #C0DEED;
}

h2{
	color: #18195E;
}

#content {
	width: 40%;
	margin: auto;
	padding: 10px;
	margin-bottom: 20px;

}

.tweet {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid;
	border-color: #E4E4F2;
}

.container {
	padding: 10px;
	background-color: #FFFFFF;
	width: 100%;
	border:1px solid;
	border-color: #E4E4F2;
	border-radius: 10px;
}

.tweet:hover{
	background: #E4E4F2; /* make this whatever you want */
}

#updateBox{
	text-align: center;
	color: #b0c4de;
	padding-bottom: 5px;
}

#updateBox:hover{
	cursor: pointer;
}

.time {
	color: #b0c4de;
	font-size: 0.9em;
}

.user {
	font-size: 1.1em;
	font-weight: bold;
}

.user:hover{
	cursor: pointer;
}